{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display+SC:wght@700&family=Quicksand&family=Roboto+Condensed:wght@300&family=Roboto+Mono&family=Roboto+Slab:wght@600&family=Xanh+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'create.css' %}">
<div class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="" class="navbar-brand">Polls App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active p-2 m-2" aria-current="page" href="../home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active p-2 m-2" aria-current="page" href="../profile">View Polls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active p-2 m-2" aria-current="page" href="../create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active p-2 m-2" aria-current="page" href="../shared">Shared</a>
                </li>
            </ul>
            <a href="/polls/logout" class="login-link">
                <button class="btn btn-outline-light px-4 m-2">Logout</button>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="container-fluid mt-5 shadow content-main" style="height:60vh;width:50vw;border-radius: 15px;">
        <form action="/polls/create/" method="post">
            {%csrf_token%}
            <div class="conrainer-fluid heading-main">
                <h2>Create Question</h2>
            </div>
            <div class="container-fluid d-flex content">
                <div class="name-input">
                    <div class="form-label question">
                        Question Statement:
                    </div>
                    <input type="text" class="input-name" id="name" name="question_name" placeholder="Question" aria-describedby="emailHelp">
                </div> 
                <div class="choices">
                    <label for="choice1" class="form-label choice-label">Choice 1:</label>
                    <input type="text" class="input-choices" id="choice1" name="choice1" placeholder="Choice">
                </div>
                <div class="choices">
                    <label for="choice2" class="form-label choice-label">Choice 2:</label>
                    <input type="text" class="input-choices" id="choice2" name="choice2" placeholder="Choice">
                </div>
                <div class="choices">
                    <label for="choice3" class="form-label choice-label">Choice 3:</label>
                    <input type="text" class="input-choices" id="choice3" name="choice3" placeholder="Choice">
                </div>      
            </div>
            <button class="submit btn" type="submit">
                Submit
            </button>
        </form>
    </div>
</div>
<!-- <form action="{%url 'pollsApp2:create' %" method="post">
    {%csrf_token%}
    <input name="question_name" value="question_name" placeholder="Question">
    {% for choice in choice_num %}
    <input name="choice_name" value="choice{{forloop.counter}}" placeholder="Choice">
    {%endfor%}
    <button 
</form> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
